
.vs
obj/
DLC
Assets/Temp.meta
Build/
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assets/Plugins/TiTan
Assets/Standard Assets/LockstepRTSEngine-Master
Assets/Plugins/TiTan.meta
Assets/Standard Assets/LockstepRTSEngine-Master.meta
Assembly-CSharp-Editor.csproj
Packages/
Logs
/Library/
/.vsconfig
/Temp/
/TeddyFrameWork.sln
/TeddyFrameWork.sln.DotSettings.user
Assets/TextMesh Pro
Assets/Temp/
Assets/TextMesh Pro.meta
.idea
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/RenderHeads/AVProVideo
Assets/Plugins/RenderHeads/AVProMovieCapture
Assets/Standard Assets/Editor/com.unity.performance-tracking-master
